@charset "utf-8";
@import "_variable";
body { 
  background: $bgColr;
  color: $fontColor;
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: $fontColor;
  &:visited {
    color: $vFontColr;
  }
  &:hover, &:active {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: $hFontColor;
  }
}
